.home-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-greeting{
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.home-text{
    font-size: 1.3em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.home-heading{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.home-separator{
        width: 100%;
        height: 2px;
}

.home-paws{
    background-image: url('src/assets/paw.png');
    background-size: 1.1em;
    background-repeat: repeat-x; /* Repeat horizontally */
    background-position:initial; /* Align to the bottom right corner */
}