.container-pet{
    display: flex;
    margin-bottom:  30px;
    align-items: flex-start;

}

.container-pet-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
    font-family: 'Itim', cursive;
    font-size: 20px;
    align-items: flex-start;
}

.pet-img{
    width: 20vw;
    height: auto;
    border: 2px solid black;
}

/* .pet-info-separator{
    height: 1px;
    width: 100%;
    background-color: black;
    margin: 20px 0px 20px 0px;
} */